.info {
  display        : flex;
  width          : 480px;
  margin-top     : 10px;
  border         : 1px solid black;
  flex-direction : column;
}

.info--message {
  display          : flex;
  padding          : 5px;
  background-color : grey;
  justify-content  : center;
}

.info__player {
  display    : flex;
  border-top : 1px solid black;
}

.info__player--attributes {
  display         : flex;
  padding         : 5px;
  flex            : 1;
}

.info__equipment {
  display    : flex;
  border-top : 1px solid black;
}

.info__equipment--armor,
.info__equipment--weapon {
  display : flex;
  padding : 5px;
  flex    : 1;
}
